*  @docker-library/maintainers

# give Laurent a bit more responsibility / authority on images where he's comfortable and knowledgeable 🎉
/library/bash             @LaurentGoderre  @docker-library/maintainers
/library/docker           @LaurentGoderre  @docker-library/maintainers
/library/express-gateway  @LaurentGoderre  @docker-library/maintainers
/library/ghost            @LaurentGoderre  @docker-library/maintainers
/library/httpd            @LaurentGoderre  @docker-library/maintainers
/library/kong             @LaurentGoderre  @docker-library/maintainers
/library/mongo            @LaurentGoderre  @docker-library/maintainers
/library/mongo-express    @LaurentGoderre  @docker-library/maintainers
/library/nginx            @LaurentGoderre  @docker-library/maintainers
/library/node             @LaurentGoderre  @docker-library/maintainers
/library/oraclelinux      @LaurentGoderre  @docker-library/maintainers
/library/postgres         @LaurentGoderre  @docker-library/maintainers
/library/python           @LaurentGoderre  @docker-library/maintainers
/library/rabbitmq         @LaurentGoderre  @docker-library/maintainers
/library/redis            @LaurentGoderre  @docker-library/maintainers
/library/redmine          @LaurentGoderre  @docker-library/maintainers
/library/registry         @LaurentGoderre  @docker-library/maintainers
/library/ruby             @LaurentGoderre  @docker-library/maintainers
/library/traefik          @LaurentGoderre  @docker-library/maintainers
/library/ubuntu           @LaurentGoderre  @docker-library/maintainers

# make sure we check with Laurent before we update our SBOM indexer (he follows and is involved in those releases more closely than the rest of us) 👀
/.external-pins/docker/scout-sbom-indexer*  @LaurentGoderre
