[
    {server, [
        {cacertfile,"/certs/ca.crt"},
        {certfile, "/certs/cert.crt"},
        {keyfile, "/certs/private.key"},
        {secure_renegotiate, true},
        {verify, verify_peer},
        {fail_if_no_peer_cert, true}
    ]},
    {client, [
        {cacertfile,"/certs/ca.crt"},
        {certfile, "/certs/cert.crt"},
        {keyfile, "/certs/private.key"},
        {secure_renegotiate, true},
        {verify, verify_peer}
    ]}
].
